.container {
    width: 1024px;
    margin: 50px auto;
  }
  
  hr { margin-bottom: 50px; }

  input, textarea {
    font-size: var(--font-size-main);
  }
  .link {
    background-color: transparent;
    color: black;
    border: none;
    font-size: var(--font-size-main);
  }
  h1.title {
    text-align: center;
  }